h2{
    font-family: 'Raleway', sans-serif;
    letter-spacing: 3px;
    font-weight: 100;
    color: rgb(235, 235, 235);
    font-size: 32px;
    margin: 30px 0;
}

form{
    width: clamp(360px, 50%, 90%);
    border: solid 3px #131313;
    border-radius: 5px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 75vh;
}

button{
    width:90%;
    box-shadow: none !important; 
}

/*
button{
    width: 90%;
    height: 50px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 3px;
    font-weight: 300;
    color: rgb(235, 235, 235);
    background-color: #bb1261;
    font-size: 24px;
    border-radius: 3px;

    border: 2px solid #921742;

    transition: all 200ms ease-in-out;
}

button:hover{
    opacity: 85%;
    border-radius: 7px;
    cursor: pointer;
}
*/
textarea{
    width: 100%;
    height: 40vh;
    padding: 25px;
    font-weight: 500;
    letter-spacing: 1px;
    color: rgb(235, 235, 235);
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #131313;
    border: none;
}

textarea::placeholder{
    color: rgb(235, 235, 235);
}