doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Cadastro criado com sucesso!
        link(rel="stylesheet", href="style/base.css")
        link(rel="stylesheet", href="style/form.css")
    body 
        header 
            h1 Nexum
        div(class="wrap")
            img(src="images/form.jpg", alt="background")
            section(class="full-section")
                div(class="success")
                    h2 Cadastro realizado com sucesso!
                    a(href="/login" class="loginBtn") Fazer Login 