doctype html
html(lang="pt-br")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Cadastro
        link(rel="stylesheet", href="style/base.css")
        link(rel="stylesheet", href="style/form.css")
        link(rel="stylesheet", href="style/alert.css")
        link(rel="stylesheet", href="style/btn.css")
    body 
        header 
            h1 Nexum
        div(class="wrap")
            img(src="images/form.jpg", alt="background")
            section(class="full-section")
                form(action="/createAccount", method="post")
                    h2 Cadastre-se  
                    input(type="text", name="name", placeholder="Nome de Usuário" required)
                    input(type="password", name="password", placeholder="Senha" required)
                    input(type="email", name="email", placeholder="Email" required)
                    button(type="submit") Cadastrar
                    p(class="alert") Já existe um cadastro nesse email.
                a(href="/login" class="btn-glass") Já tem uma conta? Faça o Login aqui! 