doctype html
html(lang="pt-br")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Creating a new post - Nexum
        link(rel="stylesheet", href="style/base.css")
        link(rel="stylesheet", href="style/newpost.css")
    body 
        header 
            h1 Nexum
        div(class="wrap")
            section(class="full-section")
                h2 Write a new post!
                form(action="/add", method="post") 
                    textarea(name="content", cols="30", rows="10" placeholder="Write a new post here!")
                    button(type="submit") Criar post