doctype html
html(lang="pt-br")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Creating a new post - Nexum
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="stylesheet", href="style/base.css")
        link(rel="stylesheet", href="style/newpost.css")
        link(rel="stylesheet", href="/style/btn.css")

        //favicon
        link(rel="apple-touch-icon", sizes="180x180", href="favicon/apple-touch-icon.png")
        link(rel="icon", type="image/png", sizes="32x32", href="favicon/favicon-32x32.png")
        link(rel="icon", type="image/png", sizes="16x16", href="favicon/favicon-16x16.png")
        link(rel="manifest", href="favicon/nexum.webmanifest")
    body 
        div(class="floating-btn" onclick="history.back()") arrow_back
        header 
            h1 Nexum
        div(class="wrap")
            section(class="full-section")
                h2 Write a new post!
                form(action="/add", method="post") 
                    textarea(name="content", cols="30", rows="10", placeholder="Write a new post here!")
                    button(type="submit" class="btn-glass") Criar post